<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    
  </head>
  <body>
		
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Times</th>
				<th scope="col">Estadio</th>
				<th scope="col">Publico</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "jogos: ${listaJogos}">
				<td th:text="${jogos.times}"></td>
				<td th:text="${jogos.estadio}"></td>
				<td th:text="${jogos.publico}"></td>
			
			</tr>
		
		</tbody>
	</table>


	<script src="/js/bootstrap.min.js"></script>
  </body>
</html>